{% extends 'base.html' %}

{% block content %}

<div class = "main-container">
	<div class = "container-full content-panel">
			<div class = "contract-header-nav">
				<a href = "{% url 'contract-locations-schedule' location.id %}" class = "return-link"><i class="fa-solid fa-angles-left"></i> Back</a>
				<h2>Duty</h2>
			</div>
	</div>

	<div class = "content-panel container-full">
		<div class ="header">
			<h5>Duty Assignment </h5>
			<p class = "subtext">{{shift.get_day_display}} - {{shift.start_time|time:"h:i A"}} Shift</p>
		</div>
		<table class = "table">
			<tr>
				<th colspan = "4">Guard Assignment Table</th>
			</tr>
			<tr>
				<th>Place</th>
				<th>Security Type</th>
				<th>Number of Guards</th>
				<th></th>
			</tr>
			{% if not instructions %}
			<tr>
				<td class = "table-empty" colspan="4">No data available. Add one using the form below</td>
			</tr>
			{% else %}

			{% for instruction in instructions %}
			<tr>

				<td>{{instruction.post.place}}</td>
				<td class ="table-center">
				{% if instruction.post.is_armed %}
				Armed
				{% else %}
				Unarmed
				{% endif %}
				</td>
				
				<td class  ='table-center'>{{instruction.number_of_guards}}</td>
				<td>
					<form method = "POST" action = "{% url 'deassign-guards' location.id shift.id instruction.id %}">
						{% csrf_token %}
						<input type = "hidden" name = "next" value = {{request.path}}>
						<button type = "submit" class= 'remove-default-btn btn destructive-btn'>Deassign</button>
					</form>
				</td>
			</tr>
			{% endfor %}
			{% endif %}
		</table>
		<div class = "contract-form">
			<form method = "POST">
				{% csrf_token %}
				<div class = "header">
					<h5>Assign Guards</h5>
					<p class = "subtext">
						{{shift.location}} <br>{{shift.get_day_display}} - {{shift.start_time|time:"h:i A"}} Shift</p>
				</div>
				<div class = "form-group">
					{{form.post.label}}
					{{form.post}}
					{{form.post.errors}}
				</div>
				<div class = "form-group">
					{{form.number_of_guards.label}}
					{{form.number_of_guards}}
					{{form.number_of_guards.errors}}
				</div>
				
				<div class = "form-footer">
				<button type = "submit" class = "remove-default-btn btn primary-btn">Add Post</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}